<p>EDITAR GASTO</p>
<form [formGroup]="billEditForm" class="formularioBillEdit">
  <div class="contenedorCampos">
    <!-- Monto -->
    <div class="contenedorMonto">
      <!--<label for="exampleInputNombre1" class="form-label">Monto</label>-->
      <input formControlName="monto" type="number" class="labelMonto generalCampos" id="exampleInputNombre1" placeholder="Monto">
      <div *ngIf="monto.invalid && (monto.dirty || monto.touched)" class="text-danger">
        <div *ngIf="monto.errors?.['required']">
          El monto es requerido.
        </div>
        <div *ngIf="monto.errors?.['montoInvalido']">
          El monto debe ser mayor que 0.
        </div>
      </div>
    </div>

    <!-- Miembros -->
    <div class="contenedorMiembros">
      <!--<label for="exampleSelectMiembro" class="form-label">Pagado por</label>-->
      <select formControlName="miembro" class="selectMiembros generalCampos" id="exampleSelectMiembros">
        <option *ngFor="let miembro of miembros" [value]="miembro.usuario.id">
          {{ miembro.usuario.email }}
        </option>
      </select>
    </div>

    <!-- Forma pago -->
    <div class="contenedorFormasPago">
      <!--<label for="exampleSelectFormaPago" class="form-label">FormaPago</label>-->
      <select formControlName="formapago" class="generalCampos" id="exampleSelectFormaPago">
        <option *ngFor="let formapago of formaspago" [value]="formapago.id">
          {{ formapago.nombre }}
        </option>
      </select>
    </div>

  <!-- Forma pago -->
  <div class="contenedorFormasPago2">
    <!--<label for="exampleSelectFormaPago" class="form-label">FormaPago</label>-->
    <select formControlName="formapago" class="generalCampos" id="exampleSelectFormaPago">
      <option *ngFor="let formapago of formaspago" [value]="formapago.id">
        {{ formapago.nombre }}
      </option>
    </select>
  </div>
</div>

  <p>RESUMEN</p>
  <!-- Montos correspondientes -->
  <div formArrayName="interests">
    <!-- Iterar sobre los controles en el FormArray -->
    <div *ngFor="let interest of interests.controls; let i=index" [formGroupName]="i">

      <label for="deuda{{i}}"><span *ngIf="miembros">{{miembros[i].usuario.email}}</span></label>

      <input id="deuda{{i}}" type="number" formControlName="deuda" [readonly]="formapago.value === '1'">

      <!-- Mostrar mensajes de error si el control es inválido -->
      <div *ngIf="interest.get('deuda')?.hasError('required') && interest.get('deuda')?.touched">
        El campo es obligatorio.
      </div>
    </div>
  </div>
  <div *ngIf="interests.hasError('superaElMaximo') && formapago.value ==='2'">
    La suma de los promedios ingresados debe ser 100%
  </div>
  <div *ngIf="interests.hasError('superaElMaximo') && formapago.value ==='3'">
    La suma de los valores ingresados debe ser igual al monto ingresado.
  </div>
  <button type="submit" (click)="editarGasto()" class="btn boton_primario">EditarGasto</button>
  <button type="submit" class="btn boton_primario" (click) ="volverAGastos()">Cancelar</button>
  
</form>

{{billEditForm}}
{{billEditForm.value | json}}