<p style="font-size: 25px;">AGREGAR PARTICIPANTE</p>

<div class="contenedor__tarjetas__nombre__email">
    <div class="contenedor__nombre__email" *ngIf="usuarios && usuarios.length > 0">
        <a *ngFor="let usuario of usuarios" class="list-group-item"  (click)="agregarParticipante(usuario)">
            <p style="font-size: 17px;">{{usuario.nombre | uppercase}}</p>
            <p style="font-size: 14px;"><strong>{{usuario.email}}</strong></p>
        </a>
    </div>
</div>

<div *ngIf="usuarios && usuarios.length === 0">
    <p>No hay participantes para agregar.</p>
</div>