
<!-- calculator.component.html -->
<form [formGroup]="calculatorForm">
    <!-- Forma pago -->
    <label for="exampleSelectFormaPago" >FormaPago</label>
    <select formControlName="formapago" id="exampleSelectFormaPago">
      <option *ngFor="let formapago of formaspago" [value]="formapago.id">
        {{ formapago.nombre }}
      </option>
    </select>
    <!-- Monto -->
    <label for="number1">Monto</label>
    <input type="text" id="number1" formControlName="number1">
    <!-- Resultado -->
    <label for="result">Resultado:</label>
    <input type="text" id="result" formControlName="result" [readonly]="true">
    <!-- Probando el ocultamiento -->
    
    <!-- Mostrar FormArray1 si la opción es "opcion1" -->
    <div *ngIf="calculatorForm.get('formapago')?.value === '1'">
      <div formArrayName="formArray1">
        <!-- Agrega aquí los controles específicos para formArray1 -->
        <input *ngFor="let control of formArray1.controls; let i = index" 
        type="text" 
        [formControlName]="i"
        [readonly]="true">
      </div>
    </div>

     <!-- Mostrar FormArray2 si la opción es "opcion1" -->
     <div *ngIf="calculatorForm.get('formapago')?.value === '2'">
      <div formArrayName="formArray2">
        <!-- Agrega aquí los controles específicos para formArray1 -->
        <input *ngFor="let control of formArray2.controls; let i = index" 
        type="text" 
        [formControlName]="i"
        >
        <div *ngIf="formArray2.hasError('customError')">
          ¡Error!
        </div>
      </div>
    </div>



</form>

<p>Form value: {{ calculatorForm.value | json }}</p>
<p>Form status: {{ calculatorForm.status | json }}</p>
  
