<div class="principalBill__component">
  <div class="contenedor__tabla" *ngIf="gastos && gastos.length > 0">
    <div class="contenedor__tabla__titulo">
      <a class="nav-link" aria-current="page" style="font-size: 25px;" (click)="agregarGasto()">
        GASTOS<i class="fa-solid fa-plus"></i>
      </a>
    </div>
    <div class="contenedor__tabla__cuerpo">
      <table class="contenedor__tabla__cuerpo__table">
        <tbody class="contenedor__tabla__cuerpo__table__tbody">
          <tr *ngFor="let gasto of gastos" class="table__tbody_tr__for_contenedor">
            <td>
              <p>
                COMIDA
                {{ gasto.fechaCreacion | date:'dd/MM/yyyy' }}
                {{ gasto.monto }}$
                {{ gasto.usuario.nombre | uppercase }}
                <span *ngIf="usuario && gasto.usuario && usuario.email !== gasto.usuario.email">PAGÓ</span>
                <span *ngIf="usuario && gasto.usuario && usuario.email === gasto.usuario.email">PAGASTE</span>
              </p>
            </td>
            <td>
              <a (click)="editarGasto(gasto.id)"><i class="bi bi-pencil-square"></i></a>
              <!--<a class="btn btn-warning btn-sm mr-2" (click)="agregarParticipante(grupo.id)">Añadir participante</a>-->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="contenedor__tabla" *ngIf="gastos && gastos.length === 0">
    <div class="contenedor__tabla__titulo">
      <a class="nav-link" aria-current="page" style="font-size: 25px;" (click)="agregarGasto()">
        GASTOS<i class="fa-solid fa-plus"></i>
      </a>
    </div>
    <p>No hay gastos.</p>
  </div>

  <div class="contenedor__bills_two">

    <div class="contenedor__tabla__two_subcontenedor">
      <div class="contenedor__dashboardUltimo" *ngIf="gastos && gastos.length === 0">
        <p style="font-size: 25px;">
          BALANCE
        </p>
        <p>No tienes deudas.</p>
      </div>

      <div *ngIf="gastos && gastos.length > 0" class="contenedor__dashboardUltimo">
        <app-group-balance></app-group-balance>
      </div>
    </div>
  </div>
</div>