<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    
<form [formGroup]="billForm">
  <p class="text-danger">{{billError}}</p>
  <div class="mb-3">
    <label for="exampleInputNombre1" class="form-label">Monto</label>
    <input formControlName="monto" type="number" class="form-control" id="exampleInputNombre1">
      <div *ngIf="monto.invalid && (monto.dirty || monto.touched)"
          class="text-danger">
          <div *ngIf="monto.errors?.['required']">
              El monto es requerido.
          </div>
      </div> 
  </div>

   <!-- Categoría -->
   <div class="mb-3">
      <label for="exampleSelectCategoria" class="form-label">Categoría</label>
      <select formControlName="categoria" class="form-select" id="exampleSelectCategoria">
        <option *ngFor="let categoria of categorias" [value]="categoria.id">
          {{ categoria.nombre }}
        </option>
      </select>
    </div>

    <!-- Miembros -->
   <div class="mb-3">
      <label for="exampleSelectMiembro" class="form-label">Pagado por</label>
      <select formControlName="miembro" class="form-select" id="exampleSelectMiembros">
        <option *ngFor="let miembro of miembros" [value]="miembro.id">
          {{ miembro.email }}
        </option>
      </select>
    </div>

    <!-- Forma pago -->
   <div class="mb-3">
      <label for="exampleSelectFormaPago" class="form-label">FormaPago</label>
      <select formControlName="formapago" class="form-select" id="exampleSelectFormaPago">
        <option *ngFor="let formapago of formaspago" [value]="formapago.id">
          {{ formapago.nombre }}
        </option>
      </select>
    </div>

    <button *ngIf="billForm.get('formapago')?.value === '1'" type="submit" (click)="createBill()" class="btn btn-primary">Crear</button>
    <button *ngIf="billForm.get('formapago')?.value !== '1'" type="submit" (click)="createBillSumarry()" class="btn btn-primary">Siguiente</button>
    <button class="btn btn-secondary me-1" type="button" routerLink="/inicio/grupos">Volver</button>
    
</form>

  </div>
  <div class="col-md-3">
  </div>
</div>
